body{
    text-wrap: wrap;
    text-align: center;
    display: flexbox;
    height: 100vh;
    align-content: center;
}

.container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.box{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 5%;
}
#box1{
    background-color: gray;
}
#box2{
    background-color: white;
}
#box3{
    background-color: blue;
}
#box4{
    background-color: yellow;
}